h1 {
width: 1000px;
 margin: auto;
text-align: center;
margin-bottom: 20px;
margin-top: 20px;
font-family: 'BebasNeueRegular', 'Helvetica Neue', arial, sans-serif;
border-bottom:1px solid #999;
}
p {
margin: auto;
text-align: center;
width:1000px;
margin-bottom: 20px;
margin-top: 20px;
font-family: 'BebasNeueRegular', 'Helvetica Neue', arial, sans-serif;
background-color:#F4F6F7;
}
div {
margin: 0 auto;
}