.country{
  fill: none;
  stroke: #a9a9a9; /*#a9a9a9*/
  stroke-width: 1;
}
.country:hover{
  fill-opacity:0.5;
}
#countrysvg{
  float:left;
  margin-top: 10px;
}
#info{
  float:inherit;
  border:1px solid black;
 
}

div.fb-comments{
margin: 0 auto;
}

#fb{
margin: 0 auto;
}

h1, h6{
margin: 0 auto;
}
